{% extends '::layout.html.twig' %}

{% block title %}Asesores S.A.{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="col-md-4 img-logo"><br>
                        <img src="{{ asset('bundles/asesoressa/images/asesoresI.jpg') }}" class="img-responsive img-thumbnail" alt="Responsive image" />
                    </div>
                    <div class="col-md-2 col-md-offset-6 img-logo"><br>
                        <img src="{{ asset('bundles/asesoressa/images/asesoresII.jpg') }}" class="img-responsive img-thumbnail" alt="Responsive image" />
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <center><h1>Bienvenidos al Sistema de Gestión de Transacciones Asesores S.A.</h1>
                        <h3>Su bróker de seguros... experto! </h3>
                    </center>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <p>Desarrollado por Arciniega Jessica y Borja Luis</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}