body {
    background: rgb(208,228,247); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.img-logo{
    display: inline-block;
}

.form-btn{
    text-align: center;
}

.btn-style{
    margin: 10px;
}

.brand{
    margin-top: -9px;
}

.link-btn{
    color:black;
}

#usuarios_rolperfil{
    visibility: hidden;
}

#FTable thead th{
    text-align: center;
    vertical-align: middle;
    border-color: black;
}

#FTable tr td {
    border-color: black;
}

#FTable td {
    border-color: black;
    border-collapse: collapse;
    padding: 0;
    vertical-align: middle;
}

#FTable{
    border-color: black;
    
}

